.mb-2 {
	margin-bottom: 2rem;
}

.m-0 {
	margin: 0 !important;
}

.entity-wrapper {
	transition: linear 0.1s;
}

.entity-top-bar {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: var(--darker);
	border-radius: 4px 4px 0px 0px;
	color: var(--text-90);
}

.controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.entity-tools {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80px;
}

.entity-body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 0;
	background-color: var(--dark);
	height: 450px;
}

.entity-textarea-body {
	height: fit-content;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	background: var(--dark);
}

.text-editor-textarea {
	min-width: 50vw;
	max-width: 50vw;
	border: none;
	outline: none;
	height: 480px;
	color: var(--text-80);
	line-height: 16px;
	letter-spacing: 2px;
	font-size: 16px;
	background: none;
	padding-top: 10px;
}

.text-editor-textarea:focus {
	border: none;
	outline: none;
}

.floater {
	position: absolute;
	/* display: none; */
	top: 0;
	right: 40px;
	/* z-index: 0; */
	width: fit-content;
	background: var(--darker);
	padding: 10px;
	border-radius: 10px;
}

.clip-wrapper {
	position: relative;
	z-index: 100;
}

/* plotter starts */
.calculator {
	height: 100%;
	width: 100vw;
}

/* plotter ends */

/* controls starts */
.control-btns {
	padding: 4px;
	border-radius: 20px;
	font-size: 12px;
	color: var(--text-80);
	margin-left: 10px;
	transition: 0.1s;
	cursor: pointer;
}

.control-btns:hover {
	background: var(--darker);
}
/* control ends */

/* quiz starts */

#quiz-maker-blur-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	backdrop-filter: blur(8px) saturate(180%);
	-webkit-backdrop-filter: blur(8px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.05);
}

#quiz-maker-container {
	position: relative;
	width: 80vw;
	height: 80vh;
	max-height: 80vh;
	overflow-y: auto;
	border-radius: 10px;
	background: var(--darker);
	z-index: 10000;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	padding: 20px;
}

#quiz-maker-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#quiz-maker-question {
	width: 97.5%;
	outline: none;
	padding: 10px;
	margin: 10px 0px;
}

#quiz-maker-options-list {
	margin: 25px 0px;
}

#quiz-maker-add-option-input {
	width: 80%;
	outline: none;
	padding: 10px;
	margin: 10px 0px;
	flex: 8;
	margin-right: 20px;
}

#quiz-maker-add-option-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.quiz-body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	position: relative;
	z-index: 0;
	background-color: var(--dark);
	padding: 20px;
}

.options-div {
	padding: 8px 18px;
	border-radius: 10px;
	border: 1.5px solid rgba(255, 255, 255, 0.6);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--text-85);
	margin-bottom: 10px;
}

.opt-red {
	border: 1px solid rgba(255, 0, 0, 0.6);
	background-color: rgba(255, 0, 0, 0.1);
}
.opt-green {
	border: 1px solid rgba(0, 255, 0, 0.6);
	background-color: rgba(0, 255, 0, 0.1);
}

.quiz-submit {
	padding: 8px;
	margin-top: 10px;
	background: rgb(39 38 38);
	border: none;
	border-radius: 3px;
	color: var(--text-75);
	cursor: pointer;
}

.quiz-question {
	margin-top: 0px;
	color: var(--text-90);
}

/* quiz ends */

/* whiteboard starts */
.whiteboard-body {
	position: "fixed";
	inset: 0;
	/* height: 100%; */
}

.whiteboard-body-expanded {
	height: 90vh;
}

.whiteboard-expanded {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000000;
}

/* whiteboard ends */
