html {
	background-color: var(--base-color);
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--base-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--text-45: rgba(255, 255, 255, 0.45);
	--text-55: rgba(255, 255, 255, 0.55);
	--text-60: rgba(255, 255, 255, 0.6);
	--text-65: rgba(255, 255, 255, 0.65);
	--text-70: rgba(255, 255, 255, 0.7);
	--text-75: rgba(255, 255, 255, 0.75);
	--text-80: rgba(255, 255, 255, 0.8);
	--text-85: rgba(255, 255, 255, 0.85);
	--text-90: rgba(255, 255, 255, 0.9);
	--text-95: rgba(255, 255, 255, 0.95);
	--text-100: rgba(255, 255, 255, 1);

	--base-color: #242424;
	--dark: #1b1b1b;
	--darker: #0c0c0c;
	--darkest: #0c0c0c;
}

@font-face {
	font-family: "Ubuntu";
	src: local("Ubuntu"), url(./fonts/Ubuntu-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Ubuntu-Bold";
	src: local("Ubuntu"), url(./fonts/Ubuntu-Bold.ttf) format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: "Ubuntu-Italic";
	src: local("Ubuntu"), url(./fonts/Ubuntu-Italic.ttf) format("truetype");
	font-style: italic;
}
@font-face {
	font-family: "Ubuntu-Light";
	src: local("Ubuntu"), url(./fonts/Ubuntu-Light.ttf) format("truetype");
	font-weight: lighter;
}
@font-face {
	font-family: "Ubuntu-LightItalic";
	src: local("Ubuntu"), url(./fonts/Ubuntu-LightItalic.ttf) format("truetype");
	font-style: italic;
	font-weight: lighter;
}
@font-face {
	font-family: "Ubuntu-Medium";
	src: local("Ubuntu"), url(./fonts/Ubuntu-Medium.ttf) format("truetype");
}
@font-face {
	font-family: "Ubuntu-MediumItalic";
	src: local("Ubuntu"), url(./fonts/Ubuntu-MediumItalic.ttf) format("truetype");
	font-style: italic;
}
