#main-bar {
    flex-grow: 3;
    border-left: 1px solid rgba(80,80,80,0.8);
    border-right: 1px solid rgba(80,80,80,0.8);
    
}

#right-bar, #left-bar {
    flex-grow: 1;
    max-width: 20vw;
    min-width: 20vw;
    /* background-color: rgba(20,20,20); */
}

#main-bar, #left-bar, #right-bar {
    padding: 0px 16px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#header{
    max-height: 7vh;
    min-height: 7vh;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#heading {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}