.alert-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.05);
}

.alert-box {
    width: 55vw;
    height: 45vh;
    max-width: 475px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.alert-body {
    background: rgb(30, 30, 30);
    border-radius: 8px 8px 0px 0px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    padding: 20px;
}

.alert-footer {
    width: 100%;
    display: flex;
    justify-content: end;
    background: rgb(10, 10, 10);
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}